In [2]:
import numpy as np
import pandas as pd

In [2]:
FINAL =pd.read_csv('Final_unpivoted.csv')
FINAL.head()

   recipe_no  ndb_id  description  nutrition  unit
0       2741    1003  Protein (g)     0.0358  tbsp
1       2934    1003  Protein (g)     0.0717  tbsp
2       3037    1003  Protein (g)        NaN  tbsp
3       3281    1003  Protein (g)        NaN  tbsp
4       3285    1003  Protein (g)        NaN  tbsp

In [3]:
FINAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63446132 entries, 0 to 63446131
Data columns (total 5 columns):
recipe_no      int64
ndb_id         int64
description    object
nutrition      float64
unit           object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.4+ GB

In [4]:
FINAL2=pd.pivot_table(FINAL[60000000:], values = 'nutrition', index=['recipe_no','ndb_id'],columns = "description",aggfunc = 'first').reset_index()
FINAL2.to_csv('./6-pivoted.csv')

In [ ]:
for i in range(1,7):
    FINAL2 =FINAL.iloc[10000000*(i-1):10000000*i]
    FINAL2 = pd.pivot_table(FINAL2, values = 'nutrition', index=['recipe_no','ndb_id'],columns = "description",aggfunc = 'first').reset_index()
    FINAL2.to_csv('./FINAL{}.csv'.format(i))

In [ ]:
# FINAL.head()

In [ ]:
# FINAL.to_csv('./FINAL_pivoted.csv',index = None)

In [3]:
'''
Calculating final nutrition values for each recipe

'''
FINAL = pd.read_csv('6-pivoted-Copy1.csv')
FINAL.fillna(0,inplace = True)
F = FINAL.groupby(['recipe_no']).sum()
F.drop(['ndb_id'],inplace = True,axis = 1)
F.reset_index(inplace = True)
# export_csv = F.to_csv (r'C:\Users\Jusha\Desktop\ingredient_nut.csv', index = None, header=True)
F["recipe_no"]=F["recipe_no"].astype(int)
F = F.round(4)
export_csv = F.to_csv ('./nutrition_recipe_final.csv', index = None, header=True,float_format='%.4f')